@font-face {
    font-family: airbnbfont;
    src: url(airbnbcereal_w_md-webfont.woff2);
}

* {
    font-family: airbnbfont;
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 20px;
}

.anywhere {
    font-size: 15px;
}

.any-week {
    color: grey;
}

.search-btn {
    width: 80%;
    padding: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 8px rgba(172, 171, 171, 0.692);
    background-color: white;
    text-align: left;
    padding-left: 50px;
    line-height: 20px;
}