@font-face {
    font-family: airbnbfont;
    src: url(AirbnbCereal_W_Lt.otf);
    font-weight: 500;
}

@font-face {
    font-family: airbnbmed;
    src: url(AirbnbCereal_W_Md.otf);
}

* {
    font-family: airbnbfont;
    margin: 0;
    padding: 0;
}

/* main {
    position: relative;
} */

.fixed-menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: white;
    padding-top: 15px;
}

.anywhere {
    color: black;
    font-size: 14px;
    /* font-family: airbnbmed; */
}

.any-week {
    color: rgb(131, 130, 130);
    font-size: 12px;
    font-weight: 400;
    
}

.search-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.search-btn {
    display: flex;
    align-items: center;
    max-width: 90%;
    min-width: 70%;
    max-height: 55px;
    min-height: 55px;
    padding: 5px;
    margin-left: 15px;
    border-radius: 50px;
    border: 1px solid rgba(231, 231, 231, 0.436);
    box-shadow: 0 2px 8px rgba(189, 189, 189, 0.456);
    background-color: white;
    text-align: left;
    line-height: 17px;
}

.search-img {
    width: 25px;
    height: 25px;
    padding: 10px;
}

.filter-btn {
    position: relative;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid rgba(168, 168, 168, 0.829);
    background-color: white; 
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10%;
}

.filter-img {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    margin: auto;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
}

.menu-bar {
    width: 100%;
    display: flex;
    overflow-x: auto;
    box-shadow: 0 4px 5px -2px rgba(126, 126, 126, 0.219);
    /* padding-bottom: 20px; */
    padding-left: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.menu-bar::-webkit-scrollbar {
    display: none;
}

.tab img {
    width: 25px;
    filter: opacity(0.6);
    /* padding-bottom: 5px; */
}

.tab img:hover {
    filter: opacity(0.9);
}

.tab {
    /* font-family: airbnbmed; */
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 15px;
    border: none;
    background-color: white;
    font-size: 12px;
    color: rgb(129, 129, 129);
    white-space: no-wrap;
}

.tab:hover {
    color: black;
    border-bottom: 2px solid black;
}

.image-section {
    /* display: grid;
    grid-template-rows: repeat(4, 1fr); */
    display: flex;
    flex-direction: column;
    line-height: 20px;
    font-size: 15px;
    padding: 175px 25px 20px 25px;
}

.property-block {
   margin-bottom: 50px;
}

.heart-block {
   position: relative;
   width: 90vw;
   height: 90vw;
   margin-bottom: 10px;
}

.img-block {
    object-fit: cover;
    width: 90vw;
    height: 90vw;
    border-radius: 14px;
    margin: 0 25px 10px 0;
    display: flex;
    overflow-x: auto;
}

.img-block img {
   object-fit: cover;
   width: 90vw;
}

.heart {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 30px;
    /* padding-top: 5%;
    padding-right: 2%; */
}

.guest-fav {
   position: absolute;
   top: 15px;
   left: 15px;
   border-radius: 50px;
   background-color: white;
   text-wrap: nowrap;
   padding: 5px 10px;
}

/* .title {
    font-family: airbnbmed;
} */

.num-bold {
    font-weight: bold;
}

.right {
    float: right;
}

.star {
    font-size: 13px;
    padding-right: 3px;
}

 .info {
    color: rgb(100, 100, 100);
    font-size: 15px;
 }

 .price {
    text-decoration: underline;
    margin-top: 10px;
    font-weight: 100;
 }

 .continue {
    text-align: center;
    margin-bottom: 20px;
   
 }

 .continue p {
    font-size: 18px;
    /* font-family: airbnbmed; */
 }

 .show-btn {
    /* font-family: airbnbmed; */
    width: 135px;
    height: 50px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 16px;
 }

 .future-getaways {
    background-color: rgba(240, 240, 240, 0.589);
    padding-top: 50px;
    padding-left: 25px;
    width: 100%;
 }

 .future-getaways p {
    font-size: 22px;
    /* font-family: airbnbmed; */
    padding-bottom: 20px;
 }

 .getaway-menu {
    display: flex;
    width: 100%;
    overflow-x: auto;
    border-bottom: 1px solid rgba(201, 201, 201, 0.801);
    -ms-overflow-style: none;
    scrollbar-width: none;
 }

 .getaway-menu::-webkit-scrollbar {
    display: none;
 }

 .getaway-menu button {
    /* font-family: airbnbmed; */
    width: 200px;
    text-wrap: nowrap;
    margin-right: 25px;
    padding-bottom: 15px;
    font-size: 15px;
    border: none;
    color: rgb(129, 129, 129);
    background-color: rgba(240, 240, 240, 0.007);
 }

 .getaway-menu button:hover {
    color: black;
    border-bottom: 2px solid black;
 }

 .getaway-place {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
 }

 .getaway-place p {
    padding-top: 10px;
    font-size: 14px;
 }

 .smaller {
    color: rgb(129, 129, 129);
 }

 .column-1 {
    flex-direction: row;

 }

 .column-2 {
    flex-direction: row;
    padding-left: 80px;
 }

 .arrow {
    font-size: 20px;
 }

 .info-sections {
    border-top: 1px solid rgba(201, 201, 201, 0.801);
    background-color: rgba(240, 240, 240, 0.589);
    width: 100%;
 }

 .inner-section {
    font-size: 14px;
    padding-left: 25px;
    padding-top: 15px;
    line-height: 30px;
    padding-bottom: 10px;
 }

 /* .info-title {
    font-family: airbnbmed;
 } */

 hr {
    height: 1px;
    background-color: rgba(201, 201, 201, 0.801);
    border: none;
 }

 .bold-foot {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-top: 15px;
 }

 .eng {
    /* font-family: airbnbmed; */
    margin-left: 8px;
 }

 .gbp {
    /* font-family: airbnbmed; */
    margin-left: 25px;
 }

 .footer {
    background-color: rgba(240, 240, 240, 0.589);
    padding-left: 25px;
    padding-bottom: 25px;
    width: 100%;
 }

 .globe {
    width: 19px;
 }

 .last {
    font-size: 14px;
    line-height: 25px;
 }

 .sticky-menu {
   background-color: rgb(255, 255, 255);
   position: sticky;
   bottom: 0;
   left: 0;
   width: 100%;
   transition: transform 0.3s;
   z-index: 1;
 }

 .sticky-btns {
   display: flex;
   justify-content: center;
   
 }

 .sticky-btns button {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(255, 255, 255);
   border: none;
   padding: 10px 20px;
   font-size: 11px;
   color: rgb(129, 129, 129)
 }

 .sticky-menu .explore {
   color: #E81948;
 }

 .sticky-btns img {
   width: 22px;
   padding-bottom: 4px;
 }

 .login img {
   filter: opacity(0.5);
 }

 .wish img {
   filter: opacity(0.7);
 }

 .anywhere,
 .tab,
 .title,
 .continue p,
 .show-btn,
 .future-getaways p,
 .getaway-menu button,
 .info-title,
 .eng,
 .gbp,
 .guest-fav {
   font-family: airbnbmed;
 }

