@font-face {
    font-family: airbnbfont;
    src: url(airbnbcereal_w_md-webfont.woff2);
}

* {
    font-family: airbnbfont;
    margin: 0;
    padding: 0;
}

.main-container {
    margin: 20px;
}

.anywhere {
    font-size: 15px;
}

.any-week {
    color: grey;
    
}

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn {
    display: flex;
    align-items: center;
    width: 80%;
    min-width: 20%;
    max-height: 50px;
    padding: 5px;
    border-radius: 50px;
    border: none;
    box-shadow: 0 2px 8px rgba(172, 171, 171, 0.692);
    background-color: white;
    text-align: left;
    line-height: 20px;
}

.search-img {
    width: 25px;
    height: 25px;
    padding: 10px;
}

.filter-btn {
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    border: 1px solid rgba(172, 171, 171, 0.829);
    background-color: white; 
    margin-left: 15px;
    margin-top: 5px;
}

.filter-img {
    width: 20px;
    height: 20px;
    padding: 10px;
   
    
}